.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
    display: flex;
    flex-direction: column;
    width: 500px;

    &__link {
      margin-top: 10px;
    }
  }

  .error-message {
    color: red;
    font-size: 12px;
  }
}
